{% include "partial/header.html.twig" %}

<!-- Template liée au controller : src/Controller/IndexController.php -->
<ul>
    {% for restaurant in restaurants %}
        <li>{{ restaurant.nom }}</li>
    {% endfor %}
</ul>
